<p>
  <b>Name:</b>
  <%=h @user.name %>
</p>

<p>
  <b>Username:</b>
  <%=h @user.username %>
</p>
<fieldset>
  <legend>Needed to Log In From Your Phone</legend>
  <p>
    <b>User ID:</b>
    <%=h @user.id %>
  </p>
  <p>
    <b>PIN:</b>
    <%= @user.pin %>
  </p>
</fieldset>

<h2>Messages</h2>

<%= render :partial => 'messages/messages', :locals => {:messages => @user.messages} %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
